<ion-header>
    <ion-toolbar>
        <h1>
            <ion-title>Dentalro</ion-title>
        </h1>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-button expand="block" href='/clientes'>Clientes</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>


        <ion-card-content>
            <ion-button expand="block" href='/citas'>Citas</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-footer>