<ion-header>
    <ion-toolbar>
        <ion-title>clientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <form #buscador="ngForm" (ngSubmit)="onSubmitBuscador(buscador)">
            <ion-card>
                <h1>Busque al Cliente:</h1>
                <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">Nombre</ion-label>
                        <ion-input type="text" ngModel name="nombreCliente"></ion-input>
                    </ion-item>
                    <ion-button color="primary" type="submit" [routerLink]="[buscador.value.nombreCliente]" routerLinkActive="router-link-active">Go!</ion-button>
                </ion-card-content>
            </ion-card>
        </form>

        <form #agregador="ngForm" (ngSubmit)="onSubmitAgregador(agregador)">
            <ion-row>
                <ion-col size="12">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Registrar Cliente</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label position="floating">Cliente</ion-label>
                                <ion-input type="text" ngModel name="nombreClienteAgregador"></ion-input>
                                <!-- <ion-datetime displayFormat="DD MM YY" ngModel name="fechaAgregador"></ion-datetime> -->
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Telefono</ion-label>
                                <ion-input type="number" ngModel name="telefono"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Correo</ion-label>
                                <ion-input clearInput ngModel type="email" name="correo"></ion-input>
                            </ion-item>
                            <br>
                            <ion-button color="success" type="submit">Crear</ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </form>
    </ion-content>